@{
    ViewBag.Title = "BillingSystem";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<title>E-Auction | Billing System</title>
<h2 align="center" style="color:blue;">Billing System</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>