@{
    ViewBag.Title = "BusinessIdentity";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<title>E-Auction | Business Identity</title>
<h2 align="center" style="color:blue;">Business Identity</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>