@{
    ViewBag.Title = "ChangeLocation";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Change Location</title>
<h2 align="center" style="color:blue;">Change Location</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>