@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
</br></br></br></br>
<title>E-Auction | Contact US</title>
<h2 align="center" style="color:blue;">For Help & Support</h2>

<h3 align="center" >Call US: </h3>
<h3 align="center" style="color:red;">+880 1675965001 </h3>
<h3 align="center" style="color:red;">+880 1675315160 </h3>
<h3 align="center" style="color:red;">+880 1533188158 </h3>
    
   
</br></br></br></br>