@{
    ViewBag.Title = "Mens";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Mens</title>
<h2 align="center" style="color:blue;">Mens</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>