@{
    ViewBag.Title = "OnlineHelp";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Online Help</title>
<h2 align="center" style="color:blue;">Online Help</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>