@{
    ViewBag.Title = "PrivecyPolicy";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Privacy Policy</title>
<h2 align="center" style="color:blue;">Privecy Policy</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>