@{
    ViewBag.Title = "RefundPolicy";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Refund Policy</title>
<h2 align="center" style="color:blue;">Refund Policy</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>