@{
    ViewBag.Title = "SecurePayment";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<title>E-Auction | Secure Payment</title>
<h2 align="center" style="color:blue;">Secure Payment</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>
