@{
    ViewBag.Title = "Shoes";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Shoes</title>
<h2 align="center" style="color:blue;">Shoes</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>