@{
    ViewBag.Title = "TicketSystem";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}


<title>E-Auction | Ticket System</title>
<h2 align="center" style="color:blue;">Ticket System</h2>
<h3 align="center" style="color:red;">Under Construction!!</h3>
</br></br></br></br></br>